p {
  margin: 0px;
}

a {
  text-decoration: none;
}

.boxed-section {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.section-title {
  font-family: "NewKansas";
  font-weight: 600;
  font-size: 48px;
  text-align: center;
  color: #4c2b1d;
  margin: 0px;
}

.primary-button {
  max-width: 265px;
  font-family: "SaaSeriesEDOT";
  font-weight: 400;
  font-size: 20px;
  padding: 6px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  transition: background 0.2s ease, color 0.2s ease, transform 0.05s ease;
}
